// sass
// sass --watch style.scss:style.css
body {
  background: #efefef;
}

.ad-survey {
  &__container {
    margin: 0 auto;
    width: 300px;
    background: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  }
  &__header {
    background: #488CAE;
    padding: 20px;
    color: #fff;
  }
  &__header--cta {
    font-weight: normal;
  }
  &__form {
    padding: 20px;
    font-size: 0.9em;
  }
  &__form--instructions {
    display: block;
    margin-bottom: 1em;
    color: gray;
    font-size: 0.9em;
  }
  &__form--option {
    margin-bottom: 10px;
    label {
      margin-left: 5px;
    }
    textarea {
      display: block;
      width: 100%;
    }
  }
  &__form--anon {
    padding-top: 10px;
    color: gray;
    font-size: 0.9em;
    text-align: center;
  }
  &__submit {
    display: block;
    border: 0;
    background: #488CAE;
    color: #fff;
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    &:hover {
      cursor: pointer;
      background: darken(#488CAE, 10%);
    }
  }
}
